:root {
  --color-logo: rgb(33, 150, 243);
  --color-logo-dark: rgb(19, 127, 214);
  --color-main: rgb(33, 33, 33);
  --color-black: rgb(0, 0, 0);
  --color-contact: rgb(117, 117, 117);
  --color-contact-transp: rgba(255, 255, 255, .6);
  --color-white: rgb(255, 255, 255);
  --color-bg-main: rgb(47, 48, 58);
  --color-bg-section: rgb(245, 244, 250);
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--color-main);
  font-size: 14px;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.top {
  display: flex;
  height: 80px;
  align-items: center;
}

.top nav {
  flex-grow: 1;
}

.top nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.top .logo-top {
  color: var(--color-black);
  padding-left: 15px;
}

.top .link {
  font-weight: 500;
}

.top .contacts-top {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  align-items: center;
}

.contacts-top li:nth-child(2) {
  padding: 0 27px 0 50px;
}

.top ul {
  display: flex;
  list-style-type: none;
}

.link {
  align-items: center;
  text-decoration: none;
  color: var(--color-main);
  line-height: 1.173;
  letter-spacing: 0.02em;
}

.main-sections .section li, .portfolio-sections .section li {
  list-style-type: none;
}

.bottom .link, .bottom address {
  line-height: 1.714;
}

.bottom .contact {
  color: var(--color-contact-transp);
}

.link:hover, .link:focus {
  color: var(--color-logo);
  cursor: pointer;
}

.logo-top, .logo-bottom {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  line-height: 1.173;
  letter-spacing: 0.03em;
}

.main-sections .portfolio-sections {
  letter-spacing: 0.03em;
}

.main-sections h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.171;
}

.main-sections .section:nth-child(1) {
  padding: 0 200px;
  background-color: var(--color-bg-main);
  display: flex;
  align-items: center;
}

.main-sections .section:nth-child(1) .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.main-sections .section:nth-child(1) h1 {
  font-size: 44px;
  line-height: 1.363;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin: 0;
  padding: 0 252px 30px;
}

.main-sections .section:nth-child(1) button {
  font-family: "roboto";
  color: var(--color-white);
  background-color: var(--color-logo);
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  text-align: center;
  padding: 10px 41px 10px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
}

.main-sections p, .portfolio-sections p {
  color: var(--color-contact);
}

.main-sections .section:nth-child(1) button:hover, .portfolio-sections .section:nth-child(1) button:hover {
  cursor: pointer;
}

.main-sections .section:nth-child(1) button:hover {
  background-color: var(--color-logo-dark);
}

.portfolio-sections .section:nth-child(1) button:hover, .portfolio-sections .section:nth-child(1) button:focus {
  color: var(--color-white);
  background-color: var(--color-logo);
}

.main-sections .section:nth-child(2) {
  letter-spacing: 0.03em;
  font-size: 14px;
}

.main-sections .section:nth-child(2) h3 {
  font-weight: 700;
  line-height: 1.172;
  text-transform: uppercase;
}

.main-sections .section:nth-child(2) p {
  line-height: 1.714;
}

.main-sections .section:nth-child(4) {
  background-color: var(--color-bg-section);
}

.main-sections .section:nth-child(4) li {
  background-color: var(--color-white);
}

.main-sections .section:nth-child(4) h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.171;
  /* text-align: center; */
}

.main-sections .section:nth-child(4) p {
    font-size: 16px;
    line-height: 1.171;
    /* text-align: center; */
}

.portfolio-sections .section:nth-child(1) button {
  font-family: "roboto";
  background-color: var(--color-bg-section);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
}

.portfolio-sections .section:nth-child(2) h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-sections .section:nth-child(2) p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.bottom {
  background-color: var(--color-bg-main);
}

.contact {
  color: var(--color-contact);
}

.logo-bottom {
  color: var(--color-white);
}

.logo-top span, .logo-bottom span {
  color: var(--color-logo);
}

.bottom address {
  color: var(--color-white);
  font-style: normal;
}